<a href="{{ admin.generateObjectUrl('archivo', object) }}" class="btn btn-sm btn-success view_link" title="{{ 'Archivo csv'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-list-alt"></i>
    Archivo
</a>