<a href="{{ admin.generateObjectUrl('reserva', object) }}" class="btn btn-sm btn-danger view_link" title="{{ 'Reservar pasaje'|trans({}, 'SonataAdminBundle') }}" >
    <i class="fas fa-ticket-alt"></i>
    Reserva
</a>
