{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_form_actions %}
  {% if object.showBoletosBtn %}
    <button type="submit" class="btn btn-warning" name="btn_boletos">
        <i class="fa fa-save"></i> Volver
    </button>
  {% endif %}

  {% if object.showPaymentBtn %}
    <button type="submit" class="btn btn-warning" name="btn_payment">
        <i class="fa fa-save"></i> Pagar
    </button>
  {% endif %}

  {% if object.showFinalizeBtn %}
    <a href="{{ object.urlpago }}" name="btn_finalize" class="btn btn-warning" role="button" aria-pressed="true"><i class="fa fa-save"></i>Confirmar Reserva</a>
  {% endif %}

  {# Por ahora ocultar botones de admin
  {{ parent() }}
  #}
{% endblock %}
