{% extends '@SonataAdmin/CRUD/base_edit.html.twig' %}

{% block sonata_form_actions %}
  {% if object.showBoletosBtn %}
    <button type="submit" class="btn btn-warning" name="btn_boletos">
        <i class="fa fa-save"></i> Volver
    </button>
  {% endif %}

  {% if object.showPaymentBtn %}
    <button type="submit" class="btn btn-warning" name="btn_payment">
        <i class="fa fa-save"></i> Pagar
    </button>
  {% endif %}

  {% if object.showFinalizeBtn %}
    <button type="submit" class="btn btn-warning" name="btn_finalize">
        <i class="fa fa-save"></i> Confirmar Reserva
    </button>
  {% endif %}

  {# Por ahora ocultar botones de admin
  {{ parent() }}
  #}
{% endblock %}
